body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('atardecer.jpg') no-repeat;
}
/*Para configurar la vista en desktop y movil*/
/*Del Movil*/
@media(max-width: 767px){
    .desktop{
        display: none;
    }
    body .movil{
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 1650px;
    }
}
.inicio-p {
    width: 90%;
    height: 68%;
    background: transparent;
    border: 4px solid rgb(235, 222, 216);
    backdrop-filter: blur(17px);
    color: #ffffff;
    font-family: Arial;
    border-radius: 20px;
    padding: 40px 40px;
    background-size: cover;
    background-position: center;
    position: static;
    margin:0 auto;
    margin-top: 32%; 
}

/*Foto de perfil*/
.inicio-p .foto-p {
    background: rgb(255, 255, 255);
    border-color: 3px solid rgb(183, 55, 121);
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 100%;
    position: static;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 8%;
}

/*Formulario de iniciar sección*/
.inicio-p .input-box-p {
    width: 100%;
    height: 90px;
    background: transparent;
    margin: 30px, 0;
}
.input-box-p input {
    width: 100%;
    height: 75px;
    background: transparent;
    outline: none;
    border: 3px solid rgb(239, 220, 208);
    border-radius:16px;
    font-size: 30px;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
}
.input-box-p p {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*Boton de Iniciar*/
.inicio-p .botoon {
    width: 100%;
    height: 74px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 40px;
    color: rgb(52, 45, 45);
    margin-top: 14%;
}

/*Nuevo usuario - olvidaste la contraseña*/
.inicio-p .nuevo-olvidaste-p{
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    margin: 24px 7px 15px;
}
.nuevo-olvidaste-p a {
    color: #ffffff;
    text-decoration: none;
}
.nuevo-olvidaste-p a:hover {
    text-decoration: underline;
}

/*De 768 a 871
@media (min-width: 768px) and (max-width: 871px) {
    .movil2{
        display:none;
    }
    .movil{
        display:none;
    }
}
*/

/*Del desktop*/
@media (min-width: 872px) {
    .movil{
        display:none;
    }
}
.inicio {
    width: 410px;
    height: 626px;
    background: transparent;
    border: 2px solid rgb(235, 222, 216);
    backdrop-filter: blur(8px);
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    border-radius: 20px;
    padding: 40px 40px;
    background-size: cover;
    background-position: center;

}

/*Foto de perfil*/
.inicio .foto {
    background: rgb(255, 255, 255);
    border-color: 3px solid rgb(183, 55, 121);
    width: 160px;
    height: 160px;
    margin: 20px;
    border-radius: 100%;
    position: static;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: -20px;
}

/*Formulario de iniciar sección*/
.inicio .input-box {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px, 0;
}
.input-box input {
    width: 100%;
    height: 90%;
    background: transparent;
    outline: none;
    border: 2px solid rgb(239, 220, 208);
    border-radius:16px;
    font-size: 16px;
    color: #ffffff;
    padding: 0px 16px 0px 16px;
}
.input-box p {
    font-size: 20px;
    margin-top: 64px;
    margin-bottom: 8px;
}

/*Boton de Iniciar*/
.inicio .boton {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(52, 45, 45);
    margin-top: 20%;
}

/*Nuevo usuario - olvidaste la contraseña*/
.inicio .nuevo-olvidaste{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 24px 0 15px;
}
.nuevo-olvidaste a {
    color: #ffffff;
    text-decoration: none;
}
.nuevo-olvidaste a:hover {
    text-decoration: underline;
}